body,
html {
    margin: 0;
    padding: 0;
    height: 0;
}

.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-container {
    display: block;
    padding-top: 10%;
}

.select-category {
    display: flex;
    justify-content: center;
}

.content-container a {
    padding: 0.1% 1.5% 0.5% 1.5%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    border-radius: 8px;
    margin: 0 0.5% 0 0.5%;
}

.content-container a:hover {
    /* color: black; */
    color: white;
    background-color: rgb(100, 100, 100);
}

.active {
    color: rgb(44, 44, 44);
}

.unactive {
    color: rgb(141, 140, 140);
}

.productChild {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 2.5em 0;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.item {
    width: 300px;
    padding: 25px 30px 25px 30px;
}

.image-items {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.image-items img {
    width: 200px;
    height: 300px;
}

.contentItem {
    align-items: center;
}

.itemContainer:hover {
    transform: translateY(-0.1in);
}

.itemContainer {
    padding: 5% 2.5% 5% 2.5%;
    font-size: small;
    max-width: 18em;
    transition: transform 0.7s;
}

.itemBtn {
    background-color: white;
    border: none;
    border: solid 1px black;
    margin-top: 14px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}

.itemBtn:hover {
    background-color: #000;
    color: #fff;
}